Repository eclipse-archived/codewind, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elsony, @tobespc, @josephca, @tetchel, @rajivnathan, @hhellyer, @markcor11, @stalleyj, @vrushaliinamdar, @seth-priya

Update file and dir list + add tests (#2013)
  src/pfe/portal/modules/utils/ignoredPaths.js
  test/src/unit/ignoredPaths.test.js
Owners: @hhellyer, @tobespc, @stalleyj

API uses readStream
  docs/openapi.yml
  src/pfe/portal/modules/LoadRunner.js
  src/pfe/portal/modules/Project.js
  src/pfe/portal/modules/utils/errors/ProjectMetricsError.js
  src/pfe/portal/routes/projects/loadtest.route.js
  test/src/API/projects/loadtest.test.js
  test/src/unit/modules/Project.test.js
Owners: @elsony, @tobespc, @hhellyer, @stalleyj

Move DockerJava=OpenLiberty into utility function
  src/pfe/portal/controllers/metrics.controller.js
  src/pfe/portal/modules/metricsService/index.js
  src/pfe/portal/routes/projects/remoteBind.route.js
  test/src/unit/modules/metricsService.test.js
Owners: @hhellyer, @tobespc, @stalleyj

Remove backuppom to inject new pom.xml
  src/pfe/portal/modules/metricsService/index.js
  src/pfe/portal/routes/projects/remoteBind.route.js
  test/src/unit/controllers/metrics.controller.test.js
Owners: @hhellyer, @tobespc, @stalleyj

fix: update injected nodejs metrics package
  src/pfe/portal/modules/metricsService/node.js
  test/resources/metricsService/node/package.json/validForInjection/withDependencies/withCollector.json
  test/resources/metricsService/node/package.json/validForInjection/withoutDependencies/withCollector.json
Owners: @hhellyer, @tobespc, @stalleyj

Fix path for creating a new file in lagom project test (#2016)
  src/pfe/file-watcher/server/test/functional-test/configs/app.config.ts
  src/pfe/file-watcher/server/test/functional-test/configs/log.config.ts
  src/pfe/file-watcher/server/test/functional-test/configs/project.config.ts
  src/pfe/file-watcher/server/test/functional-test/suites/project/tests/project-event.ts
Owners: @elsony, @rajivnathan

Use global workspace flag
  src/pfe/portal/modules/User.js
Owners: @hhellyer, @tobespc

API uses readStream (#2029)
  docs/openapi.yml
  src/pfe/portal/modules/LoadRunner.js
  src/pfe/portal/modules/Project.js
  src/pfe/portal/modules/utils/errors/ProjectMetricsError.js
  src/pfe/portal/routes/projects/loadtest.route.js
  test/src/API/projects/loadtest.test.js
  test/src/unit/modules/Project.test.js
Owners: @elsony, @tobespc, @hhellyer, @stalleyj

Provide namespace info on project.inf and env route for IDE
  src/pfe/file-watcher/server/src/projects/projectUtil.ts
  src/pfe/portal/routes/environment.route.js
Owners: @elsony, @rajivnathan, @hhellyer, @tobespc

Add a delay on setting build status so that the running build status can be cleared
  src/pfe/file-watcher/server/src/controllers/projectsController.ts
  src/pfe/file-watcher/server/src/projects/constants.ts
  src/pfe/file-watcher/server/test/functional-test/configs/timeout.config.ts
  src/pfe/file-watcher/server/test/functional-test/lib/utils.ts
  src/pfe/file-watcher/server/test/functional-test/suites/project/tests/create.ts
  src/pfe/file-watcher/server/test/functional-test/suites/project/tests/project-action.ts
  src/pfe/file-watcher/server/test/functional-test/suites/project/tests/project-specification.ts
  src/pfe/file-watcher/server/test/functional-test/suites/project/tests/update-status.ts
Owners: @elsony, @rajivnathan

Use global workspace flag (#2036)
  src/pfe/portal/modules/User.js
Owners: @hhellyer, @tobespc

.github/CODEOWNERS:

# Global owners
* @elsony @tobespc

# Docs
docs/** @elsony @tobespc

# Releng
script/** @josephca @tetchel 

# Iterative dev
src/pfe/file-watcher/** @elsony @rajivnathan
src/pfe/iterative-dev/** @elsony @rajivnathan

# Portal
src/pfe/portal/** @hhellyer @tobespc
src/gatekeeper/** @markcor11 @tobespc 
src/keycloak/** @markcor11 @tobespc 
src/performance/** @markcor11 @tobespc 
test/** @stalleyj @tobespc

# Dockerfiles
# Notify regarding Dockerfile changes for PPC
**/Dockerfile* @vrushaliinamdar @seth-priya
